{% load static%}
<footer id="main-footer" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-1">
                        <h1 class="h3">
                            <a href="index.html" class="navbar-brand pb-5"><img src="{% static 'img/tickerinsights.png' %}" height="45" width="110"></a>
                        </h1>
                        <p class="mr-3">Copyright &copy; 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>