
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-3">

          
    <form method="GET">
        <div class="row">
            <div class="col-2">
                <input name="symbol" class="form-control form-control-md text-center ml-2" type="text" placeholder="Enter Here"> 
            </div>

            <div>
                <button class="btn btn-outline-info d-none d-md-block" type="submit">Search</button>
            </div>
   
            <div class="col-7 col-sm-8 col-md-6 col-xl-6 form-inline justify-content-center">
                <h1><strong> {{ symbol_upper }} </strong></h1>
            </div>
        
            <div class="mx-auto col-6">
                <hr class="my-2">
        </div>
    </div>
</form>

   <div class="row"> 
    
    {% include 'partials/_sidebar.html' %}

    <div class="col-lg-4 col-md-12 col-sm-12">

        <div class="pt-3 text-center">
            <p><strong>{{ Q1_string_context }}</strong></p>
        </div>
        <img src="data:image/png;base64, {{ Q1_plot }}" alt="graph">
        <div class="text-center">
            <p><strong>{{ Q2_string_context }}</strong></p>
        </div>
        <img src="data:image/png;base64, {{ Q2_plot }}" alt="graph">
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="pt-3 text-center">
            <p><strong>{{ Q3_string_context }}</strong></p>
        </div>
        <img src="data:image/png;base64, {{ Q3_plot }}" alt="graph">
        <div class="text-center">
            <p><strong>{{ Q4_string_context }}</strong></p>
        </div>
        <img src="data:image/png;base64, {{ Q4_plot }}" alt="graph">
        
    </div>

    </div>
</div>

{% endblock %}